@import '_vars.scss';
@import '_mixin.scss';

html {
	box-sizing: border-box;
}

.error-text {
    position: relative;
}

.just-validate-error-label {
	top: -18px;
	left: 18px;
	position: absolute;
    font-size: 12px;
	line-height: 16px;		
}

.error-check .just-validate-error-label {
	top: 12px;
	left: 4px;		
}

.just-validate-error-field {
	outline: 1px solid $validate;
}
.just-validate-success-field {
	outline: 1px solid $validateS;
}

input::-webkit-input-placeholder { color: $grey; }

*,
*::before,
*::after {
	box-sizing: inherit;
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: $white;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
}

body {
	min-width: 320px;
    font-family:'OpenSans', 'Roboto', sans-serif;
}

.list-reset {
	margin: 0;
	padding: 0;
	list-style: none;
}

.btn-reset {
	padding: 0;
	border: none;
	background-color: transparent;
	cursor: pointer;
}

.p-reset {
  margin: 0;
}

.flex {
	display: flex;
}

.grid {
    display: grid;
}

.max-container {
    max-width: 1920px;
    margin: 0 auto;
}

.container {
	max-width: $containerWidth1920;
    margin-right: auto;
    margin-left: auto;
}

.section-offset {
	margin: 0;
}

.title-rst {
  margin: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.header {
	&-top {
		background-color: $dark-white;
		.header__container {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding-top: 16px;
			padding-bottom: 14px;
			.header__logo {
				background-color: $dark-white;
				display: none;
			}
			.header__wrap {
				display: flex;
				justify-content: space-between;
				.nav {
					&__list {
						gap: 64px;
						font-size: 14px;
						line-height: 100%;
						color: $grey;
						.nav__item {
							.nav__link {
								transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
							}
							.nav__link:focus-visible {
								background-color: $focus-bg;
								outline: $focus-bg;
								color: $active;
							}
							.nav__link:hover {
								color: $purple;
							}
							.nav__link:active {
								color: $active;
							}
						}
					}
				}
				.header__links {
					display: flex;
					gap: 43px;
					.header__link {
						display: none;
						position: relative;
						outline: none;
						svg {
							path {
								transition: fill 0.3s ease-in-out;
							}
						}
						.count-shop {
							position: absolute;
							left: -11px;
							top: 5px;
							color: $white;
							background-color: $orange;
							padding: 2px 4px;
							border-radius: 8px;
							font-size: 10px;
							font-weight: 700;
							line-height: 100%;
						}
					}
					.header__link:focus-visible {
						svg {
							background-color: $hover;
							path {
								fill: $white;
							}
						}
					}
					.header__link:hover {
						svg {
							path {
								fill: $hover;	
							}
						}
					}
					.header__link:active {
						svg {
							path {
								fill: $active;
							}
						}
					}
				}
			}
			.select {
				display: flex;
				align-items: center;
				 &__label {
					font-size: 16px;
					line-height: 120%;
					color: $black;
					margin-right: 4px;
				 }
			}
			.choices__item {
				font-family: 'OpenSans';
				font-size: 16px;
				line-height: 120%;
			}
			.choices {
				width: 90px;
				height: 20px;
			}
			.choices__inner {
				border: 1px solid $dark-white;
				color: $purple;
				font-size: 16px;
				line-height: 120%;
				height: 20px;
				transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
			}
			.is-open .choices__inner {
				border: 1px solid $dark-white;
			}
			.is-open .choices__list--dropdown {
				border: 2px solid $dark-white;
				padding: 12px;
				font-size: 14px;
				line-height: 130%;
				color: $black;
			}
			.choices__list--dropdown .choices__item--selectable, .choices__list[aria-expanded] .choices__item--selectable {
				padding: 0;
				padding-bottom: 11px;
			}
			.choices__list--dropdown .choices__item--selectable.is-highlighted, .choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
				background-color: transparent;
			}
			.choices__list--single {
			padding: 0;
			}
			.choices__inner {
			padding: 0;
			}

			.choices__list--dropdown .is-selected {
			display: none;
			}
			
			.choices[data-type*=select-one]::after {
				border: none;
				margin-top: 2px;
				width: 12px;
				height: 8px;
				background-image: url("img/hero-select.png");
				background-position: center;
				background-size: cover;
				background-repeat: no-repeat;
				transform: translateY(-50%);
			}
			
			.choices.is-open[data-type*=select-one]::after {
				margin-top: 0;
				transform: translateY(-50%) rotate(180deg);
			}

			.header__number {
				display: flex;
				margin-left: 20px;
				font-size: 14px;
				line-height: 100%;
				color: $orange;
				margin-right: 219px;
				outline: none;
				transition: color 0.3s ease-in-out;
				svg path{
					transition: fill 0.3s ease-in-out;
				}
			}
			.header__number:focus-visible {
				background-color: $bone;
			}
			.header__number:hover {
				color: $light-orange;
				svg path{
					fill: $light-orange;
				}
			}
			.header__number:active {
				background-color: transparent;
				color: $dark-orange;
				svg path{
					fill: $dark-orange;
				}
			}
			.choices:hover .choices__inner {
				color: $hover;
			}
			.choices:active .choices__inner {
				color: $active;
				background-color: inherit;
			}

		}
	}
	&-bottom {
		.header__container {
			padding-top: 30px;
			padding-bottom: 32px;
			.header__wrap-top {
				display: flex;
				align-items: center;
				justify-content: space-between;
				margin-bottom: 27px;
				.header__links {
					display: none;
					gap: 43px;
					.header__link {
						position: relative;
						outline: none;
						svg {
							path {
								transition: fill 0.3s ease-in-out;
							}
						}
						.count-shop {
							position: absolute;
							left: -11px;
							top: 5px;
							color: $white;
							background-color: $orange;
							padding: 2px 4px;
							border-radius: 8px;
							font-size: 10px;
							font-weight: 700;
							line-height: 100%;
						}
					}
					.header__link:focus-visible {
						svg {
							background-color: $hover;
							path {
								fill: $white;
							}
						}
					}
					.header__link:hover {
						svg {
							path {
								fill: $hover;	
							}
						}
					}
					.header__link:active {
						svg {
							path {
								fill: $active;
							}
						}
					}
				}
				.burger {
					margin-bottom: 7px;
					display: none;
					position: relative;
					width: 24px;
					height: 24px;
					z-index: 1000;
					border-radius: 100px;
					&-line {
						position: absolute;
						width: 24px;
						height: 3px;
						transform: translateX(-50%);
						background-color: $purple;
						border-radius: 100px;
					}
					&-line:first-child {
						top: 0;
						transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, left 0.3s ease-in-out;
					}
					&-line:nth-child(2) {
						top: 50%;
						transform: translateX(-50%) translateY(-50%);
					}
					&-line:last-child {
						bottom: 0;
						transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, left 0.3s ease-in-out;
					}
				}
				.burger--active {
					.burger-line:first-child {
						transform: rotate(45deg);
						left: 0%;
						top: 50%;
						transform-origin: center;
						transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, left 0.3s ease-in-out;
					}
					.burger-line:nth-child(2) {
						opacity: 0;
					}
					.burger-line:last-child {
						transform: rotate(-45deg);
						left: 0%;
						top: 50%;
						transform-origin: center;
						transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, left 0.3s ease-in-out;
					}
				}
				.header__logo {
					width: 187px;
				}
				.nav {
					svg {
						display: none;
					}
					&__list-1 {
						gap: 92px;
						font-size: 16px;
						line-height: 22px;
						color: $black;
						.nav__item {
							.nav__link {
								transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
							}
							.nav__link:focus-visible {
								background-color: $focus-bg;
								outline: $focus-bg;
							}
							.nav__link:hover {
								color: $purple;
							}
							.nav__link:active {
								color: $active;
							}
						}
					}
					&__list-2 {
						display: none;
						font-size: 14px;
						line-height: 120%;
						color: $grey;
						flex-wrap: wrap;
						column-gap: 61px;
						row-gap: 11px;
						background-color: $dark-white;
						padding: 24px 12px;
						.nav__item {
							.nav__link {
								transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
							}
							.nav__link:focus-visible {
								background-color: $focus-bg;
								outline: $focus-bg;
								color: $active;
							}
							.nav__link:hover {
								color: $purple;
							}
							.nav__link:active {
								color: $active;
							}
						}
						.nav__item:nth-child(3) {
							width: 114px;
						}
					}
				}
			}
			.header__wrap-bottom {
				display: flex;
				align-items: center;
				margin-bottom: 23px;
				.header__search-form {
					width: 59.5%;
					position: relative;
					.header__search-input {
						width: 100%;
						padding: 20px 32px 20px 59px;
						background-color: $dark-white;
						border: none;
						font-size: 16px;
						line-height: 120%;
						color: $black;
						border-radius: 10px 0 0 10px;
						transition: background-color 0.3s ease-in-out;
					}
					.header__search-input:focus-within {
						background-color: $pink;	
						outline: 2px solid $purple;	
						outline-offset: -2px;
					}
					.header__search-input:hover {
						background-color: $footer-white;
					}
					.header__search-btn {
						outline: none;
						z-index: 1;
						position: absolute;
						top: 14px;
						right: 32px;
						@include arrow-transition;
					}
					.header__search-btn:focus-visible {
						@include arrow-focus;
					}
					.header__search-btn:hover {
						@include arrow-hover;
					}
					.header__search-btn:active {
						@include arrow-active;
					}
					.header__search-lens {
						position: absolute;
						top: 20px;
						left: 32px;
					}
					.header__search-lens--active {
						path {
							fill: $purple;
						}
					}
				}
				
				.choices__item {
					font-family: 'OpenSans';
					font-size: 16px;
					line-height: 130%;
				}
				.choices {
					width: 300px;
					height: 60px;
					margin-bottom: 0;
					margin-right: 120px;
				}
				.choices__inner {
					border: 2px solid $dark-white;
					background-color: $white;
					color: $purple;
					font-size: 16px;
					line-height: 22px;
					height: 60px;
					border-radius: 0 10px 10px 0;
					transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border-color 0.3s ease-in-out;
				}
				.choices__placeholder {
					opacity: 1;
				}
				
				.is-open .choices__list--dropdown {
					border: 2px solid $dark-white;
					background-color: $white;
					padding: 12px 30px ;
					font-size: 14px;
					line-height: 130%;
					color: $black;
					z-index: 1000;
				}
				.choices__list--dropdown .choices__item--selectable, .choices__list[aria-expanded] .choices__item--selectable {
					padding: 0;
					padding-bottom: 11px;
				}
				.choices__list--dropdown .choices__item--selectable.is-highlighted, .choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
					background-color: transparent;
				}
				.choices__list--single {
					padding: 19px 32px;
				}
				.choices__list {
					display: flex;
					flex-direction: column;
					flex-wrap: wrap;
					max-height: 194px;
				}
				.choices__inner {
					padding: 0;
				}
				.choices__list--dropdown .is-selected {
					display: none;
				}
				.choices__list--dropdown .choices__placeholder {
					display: none;
				}
				
				.choices[data-type*=select-one]::after {
					border: none;
					right: 33px;
					margin-top: 2px;
					width: 12px;
					height: 8px;
					background-image: url("img/hero-select.png");
					background-position: center;
					background-size: cover;
					background-repeat: no-repeat;
					transform: translateY(-50%);
				}
				
				.choices.is-open[data-type*=select-one]::after {
					margin-top: 0;
					transform: translateY(-50%) rotate(180deg);
				}
				.choices:focus-visible .choices__inner {
					border-color: $purple;
					background-color: $pink;
				}
				.choices:hover .choices__inner {
					border-color: $purple;
				}
				.choices:active .choices__inner {
					border-color: $active;
					background-color: transparent;
					color: $active;
				}

				.header__link:not(:last-child) {
					margin-right: 43px;
				}
				.header__link {
					position: relative;
					outline: none;
					svg {
						path {
							transition: fill 0.3s ease-in-out;
						}
					}
					.count-shop {
						position: absolute;
						left: -11px;
						top: 5px;
						color: $white;
						background-color: $orange;
						padding: 2px 4px;
						border-radius: 8px;
						font-size: 10px;
						// font-family: Open Sans;
						font-weight: 700;
						line-height: 100%;
					}
				}
				.header__link:focus-visible {
					svg {
						background-color: $hover;
						path {
							fill: $white;
						}
					}
				}
				.header__link:hover {
					svg {
						path {
							fill: $hover;	
						}
					}
				}
				.header__link:active {
					svg {
						path {
							fill: $active;
						}
					}
				}
			}
		}
		.header__sites-nav {
			gap: 6px;
			li {
				font-size: 14px;
				font-weight: 400;
				line-height: 100%;
				color: $grey;
				&:last-child {
					color: $active;
				}
			}
		}
	}
}
.main {
	display: flex;
	max-width: $containerWidth1920;
	gap: 32px;
}
.aside {
	&__container {
		max-width: 296px;
		.aside__text {
			font-size: 18px;
			line-height: 130%;
			color: $black;
			margin-bottom: 20px;
			&-1024 {
				display: none;
			}
		}
		.aside__choice {
			.checkbox {
				margin-bottom: 27px;
				flex-direction: column;
				&__name {
					font-size: 16px;
					line-height: 130%;
					color: $dark-grey;
					margin-bottom: 10px;
					font-weight: 600;
				}
				&__btn {
					display: none;
					width: 187px;
					padding: 7px 14px;
					text-align: left;
					border: 2px solid $dark-white;
					background-color: $dark-white;
					border-radius: 10px;
					font-size: 16px;
					font-weight: 400;
					line-height: normal;
					color: $black;
					justify-content: space-between;
					align-items: center;
				}
	
				&__list {
					display: flex;
					flex-direction: column;
					.checkbox__btn-add {
						font-size: 16px;
						font-style: normal;
						font-weight: 400;
						line-height: 130%;
						color: $purple;
						text-align: start;
						display: none;
						outline: none;
						&:focus-visible {
							background-color: $focus-bg;
						}
						&:hover {
							background-color: transparent;
							color: $hover;
						}
						&:active {
							background-color: transparent;
							color: $active;
						}
					}
					.checkbox__label {
						position: relative;
						font-size: 16px;
						font-style: normal;
						line-height: 130%;
						color: $dark-grey;
						padding-left: 31px;
						cursor: pointer;
						transition: color 0.3s ease-in-out;
						&:hover {
							color: $purple;
						}
					}
		
					.checkbox__label:not(:nth-last-child(2)) {
						margin-bottom: 11px;
					}
					
					.checkbox__elem {
						position: absolute;
						z-index: -1;
						opacity: 0;
					}
		
					.checkbox__elem+label {
						display: inline-block;
						align-items: center;
						user-select: none;
					}
					.checkbox__elem:focus-visible+label {
						color: $active;
					}
					
					.checkbox__elem+label::before {
						content: "";
						display: inline-block;
						position: absolute;
						left: 0;
						width: 20px;
						height: 20px;
						border: 1px solid $grey;
						border-radius: 3px;
					}
					
					.checkbox__elem:checked+label::before {
						background-image: url(img/chekbox.png);
						background-repeat: no-repeat;
						background-position: center center;
						border-color: $purple;
					}
				}
			}
			.radio {
				flex-direction: column;
				margin-bottom: 26px;
				&__name {
					font-size: 16px;
					line-height: 130%;
					color: $dark-grey;
					margin-bottom: 10px;
					font-weight: 600;
				}
				&__btn {
					display: none;
					width: 187px;
					padding: 7px 14px;
					text-align: left;
					border: 2px solid $dark-white;
					background-color: $dark-white;
					border-radius: 10px;
					font-size: 16px;
					font-weight: 400;
					line-height: normal;
					color: $black;
					justify-content: space-between;
					align-items: center;
				}
				&__list {
					display: flex;
					flex-direction: column;
					.radio__label {
						position: relative;
						font-size: 16px;
						font-style: normal;
						line-height: 130%;
						color: $dark-grey;
						padding-left: 32px;
						transition: color 0.3s ease-in-out;
						&-text:last-child {
							display: none;
						}
						&:hover {
							color: $purple;
						}
					}
		
					.radio__label:not(:last-child) {
						margin-bottom: 11px;
					}
					
					.radio__elem {
						position: absolute;
						z-index: -1;
						opacity: 0;
					}
					
					.radio__elem+label {
						display: inline-block;
						align-items: center;
						user-select: none;
					}
					.radio__elem:focus-visible+label {
						color: $active;
					}
					
					.radio__elem+label::before {
						content: "";
						display: inline-block;
						position: absolute;
						left: 0;
						width: 20px;
						height: 20px;
						border: 1px solid $grey;
						border-radius: 3px;
					}
					
					.radio__elem:checked+label::before {
						background-image: url(img/chekbox.png);
						background-repeat: no-repeat;
						background-position: center center;
						border-color: $purple;
					}
				}
			}
			.range {
				margin-bottom: 37px;
				&__name {
					font-size: 16px;
					line-height: 130%;
					color: $dark-grey;
					margin-bottom: 4px;
					font-weight: 600;
				}
				&__btn {
					display: none;
					width: 187px;
					padding: 7px 14px;
					text-align: left;
					border: 2px solid $dark-white;
					background-color: $dark-white;
					border-radius: 10px;
					font-size: 16px;
					font-weight: 400;
					line-height: normal;
					color: $black;
					justify-content: space-between;
					align-items: center;
				}
				&__inputs {
					display: flex;
					margin-bottom: 10px;
					gap: 69px;
					.range__wrap {
						display: flex;
						align-items: center;
						.range__input {
							width: 86px;
							height: 30px;
							border-radius: 2px;
							border: 1px solid $grey;
							font-size: 16px;
							font-style: normal;
							font-weight: 400;
							line-height: 130%;
							color: $dark-grey;
							padding: 4px 13px;
							&:hover {
								border-color: $purple;
							}
							&:focus-visible {
								border-color: $purple;
								background-color: $focus-bg;
								outline: none;
							}
							&:active {
								border-color: $active;
							}
						}
					}
					.range__text {
						font-size: 16px;
						font-style: normal;
						font-weight: 400;
						line-height: 130%;
						color: $dark-grey;
						margin-right: 9px;
					}
				}
				.noUi-target {
					border: none;
					box-shadow: none;
					border-radius: 3px;
					background-color: $footer-white;
				}
				.noUi-horizontal {
					height: 3px;
				}
				.noUi-connects {
					cursor: pointer;
				  }
				  
				.noUi-connect {
					background-color: $purple;
				}
				.noUi-horizontal .noUi-handle {
					right: -4px;
					top: 2px;
					width: 9px;
					height: 9px;
				}
				.noUi-handle {
					border: none;
					border-radius: none;
					background-color: transparent;
					box-shadow: none;
				}
				.noUi-handle:focus {
					outline: none;
				}
				.noUi-handle:after,
				.noUi-handle:before {
					display: none;
				}
	
				.noUi-touch-area::before,
				.noUi-touch-area::after {
				content: "";
				position: absolute;
				display: inline-block;
				width: 100%;
				height: 100%;
				}
	
				.noUi-touch-area,
				.noUi-touch-area::before,
				.noUi-touch-area::after {
					
					border-top-right-radius: 30%;
					background-color: $purple;
					transition: background-color 0.3s ease-in-out;
				}
	
				.noUi-touch-area {
					transform: rotate(-60deg) skewX(-30deg) scale(1, 0.866);
				}
	
				.noUi-touch-area::before {
					transform: rotate(-135deg) skewX(-45deg) scale(1.414, 0.707)
					translate(0, -55%);
				}
	
				.noUi-touch-area::after {
					transform: rotate(135deg) skewY(-45deg) scale(0.707, 1.414) translate(55%);
				}
	
				.noUi-handle.focus-visible .noUi-touch-area,
				.noUi-handle.focus-visible .noUi-touch-area::before,
				.noUi-handle.focus-visible .noUi-touch-area::after {
					background-color: $active;
				}
	
				@media screen and (any-hover: hover) {
				.noUi-handle:hover .noUi-touch-area,
				.noUi-handle:hover .noUi-touch-area::before,
				.noUi-handle:hover .noUi-touch-area::after {
					background-color: $hover;
				}
				}
	
				.noUi-handle:active .noUi-touch-area,
				.noUi-handle:active .noUi-touch-area::before,
				.noUi-handle:active .noUi-touch-area::after {
					background-color: $active;
				}
			}
		}
		.bonus {
			margin-top: 89px;
			flex-direction: column;
			height: 360px;
			&__content {
				padding: 30px 30px 27px 30px;
				background-color: $black;
				border-radius: 0 0 10px 10px;
				.bonus__title {
					color: $beige;
					font-family: 'PlayfairDisplay';
					font-size: 24px;
					font-weight: 900;
					line-height: normal;
				}
				.bonus__text {
					color: $grey;
					margin-bottom: 15px;
					font-weight: 400;
					font-size: 16px;
					line-height: 137%;
				}
				.bonus__btn {
					display: flex;
					gap: 5px;
					font-size: 16px;
					font-weight: 700;
					line-height: 120%;
					color: $purple;
					outline: none;
					@include arrow-transition;
					&-text {
						border-bottom: 2px solid transparent;
						transition: border-color 0.3s ease-in-out, color 0.3s ease-in-out;
					}
					&:focus-visible {
						@include arrow-focus;
						.bonus__btn-text {
							border-color: $purple;
						}
					}
					&:hover {
						@include arrow-hover;
						.bonus__btn-text {
							border-color: $purple;
							border-bottom: 2px solid $purple;
						}
					}
					&:active {
						@include arrow-active;
						.bonus__btn-text {
							border-color: $active;
						}
					}
				}
			}
		}
	}
}
.catalog {
	margin-bottom: 70px;
	&__container {
		.catalog__title {
			font-size: 24px;
			font-weight: 400;
			line-height: 130%;
			color: $black;
			margin-bottom: 22px;
		}
		.grid {
			display: none;
			grid-template-columns: repeat(3, 1fr);
			grid-auto-rows: 420px;
			
			grid-gap: $gridGap;
			margin-bottom: $gridGap;
			.card {
				display: flex;
				position: relative;
				flex-direction: column;
				justify-content: flex-end;
				height: 100%;
				background-color: $dark-white;
				padding: 0 15px 30px 15px;
				border-radius: 10px;
				&__rating {
					position: absolute;
					top: 30px;
					left: 30px;
					font-size: 16px;
					line-height: 130%;
					color: $orange;
				}
				&__img {
					display: flex;
					img {
						margin-left: auto;
						margin-right: auto;
					}
				}
				&__content {
					padding-left: 15px;
					padding-right: 15px;
					margin-top: 16px;
					.card__title {
						font-weight: 400;
						font-size: 24px;
						line-height: 130%;
						color: $black;
						margin-bottom: 24px;
					}
					.card__price {
						font-size: 16px;
						line-height: 130%;
						margin-bottom: 20px;
						color: $dark-grey;
					}
					.card__btn {
						@include button-empty;
						outline: none;
						transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out, color 0.3s ease-in-out;
					}
					.card__btn:focus-visible {
						border-color: $purple;
						background-color: $hover;
						color: $white;
					}
					.card__btn:hover {
						background-color: $purple;
						border-color: $purple;
						color: $white;
					}
					.card__btn:active {
						background-color: $active;
						border-color: $active;
						color: $white;
					}
				}
			}
		}
		.catalog__grid--active {
			display: grid;
		}
		.catalog__grid-2 {
			.grid__item:nth-child(1) {
				display: none;
			}
			.grid__item:nth-child(2) {
				display: none;
			}
			.grid__item:nth-child(3) {
				display: none;
			}
		}

		.catalog__btns {
			justify-content: center;
			gap: 16px;
			.catalog__btn {
				font-size: 16px;
				font-style: normal;
				font-weight: 600;
				line-height: 100%;
				color: $purple;
				padding: 6px 9px;
				border: 2px solid $purple;
				border-radius: 10px;
				transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
				&:focus-visible {
					color: $white;
					background-color: $hover;
				}
				&:hover {
					color: $white;
					background-color: $purple;
				}
			}
			.catalog__btn:last-child {
				display: none;
			}
			.catalog__btn--active {
				color: $white;
				background-color: $active;
				border-color: $active;
				pointer-events: none
			}
		}
	}
}

.footer {
	&-top {
		background-color: $footer-white;
		.footer__container {
			display: flex;
			padding-top: 22px;
			padding-bottom: 19px;
			justify-content: space-between;
			.footer__left {
				.footer__logo {
					margin-bottom: 26px;
				}
				.footer__links {
					.footer__link {
						outline: none;
						svg {
							path {
								transition: fill 0.3s ease-in-out;
							}
						}
					}
					.footer__link:not(:last-child) {
						margin-right: 16px;
					}
					.footer__link:focus-visible {
						svg {
							background-color: $hover;
							path {
								fill: $white;
							}
						}
					}
					.footer__link:hover {
						svg {
							path {
								fill: $purple;
							}
						}
					}
					.footer__link:active {
						svg {
							path {
								fill: $active;
							}
						}
					}
				}
			}
			.nav {
				display: flex;
				gap: 112px;
				padding-top: 4px;
				&__list:nth-child(2) {
					margin-right: 22px;
				}
				&__list:nth-child(3) {
					margin-right: 33px;
				}
				&__list {
					.nav__item {
						font-size: 14px;
						line-height: 100%;
						color: $grey;
						.nav__link {
							transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
						}
						.nav__link:focus-visible {
							background-color: $focus-bg;
							outline: $focus-bg;
							color: $active;
						}
						.nav__link:hover {
							color: $purple;
						}
						.nav__link:active {
							color: $active;
						}
					}
					.nav__item:first-child {
						font-size: 16px;
						line-height: 100%;
						color: $black;
					}
					.nav__item:not(:last-child) {
						margin-bottom: 10px;
					}
				}
			}
		}
	}
	&-bottom {
		.footer__container {
			padding-top: 4px;
			text-align: center;
			.footer__text {
				font-size: 14px;
				line-height: 19px;
				color: $grey;
			}
			.footer__text:not(:last-child) {
				margin-right: 6px;
			}
		}
	}
}