@import '_vars.scss';
@import '_mixin.scss';
@media (max-width: 970px) {

    .container {
        margin-right: 72px;
        margin-left: 72px;
    }

    .header {
        &-top {
            background-color: transparent;
            .header__container {
                flex-wrap: wrap;
                margin-left: 0;
                margin-right: 0;
                padding: 0;
                .header__wrap {
                    padding-left: 72px;
                    padding-right: 72px;
                    padding-top: 18px;
                    padding-bottom: 18px;
                    .nav {
                        width: 100%;
                        &__list {
                            gap: 0;
                        }
                    }
                    .header__links {
                        .header__link {
                            display: none; 
                        }
                    }
                }
                .header__select {
                    margin-left: 72px;
                }
                .header__number {
                    margin-right: 72px;
                }
            }
        }
        &-bottom {
            position: relative;
            .header__container {
                .header__wrap-top {
                    .header__links {
                        display: flex;
                    }
                    .nav {
                        margin-bottom: 0px;
                        display: flex;
                        visibility: hidden;
                        z-index: 100;
                        position: absolute;
                        width: 100%;
                        height: 300px;
                        top: 0;
                        left: 0;
                        background-color: $white;
                        border-top: 1px solid rgba($color: #000000, $alpha: 0.3);
                        padding: 92px 72px 58px 72px;
                        transform: translateX(-100%);
                        transition: visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
                        svg {
                            display: block;
                            position: absolute;
                            right: 72px;
                            bottom: 60px;
                        }
                        &__list-1 {
                            column-gap: 64px;
                            row-gap: 41px;
                            flex-direction: column;
                            flex-wrap: wrap;
                        }
                    }
                    .burger {
                        display: block;
                        margin-right: 75px;
                    }
                    .burger-menu--active {
                        visibility: visible;
                        transform: none;
                    }
                }
                .header__wrap-bottom {
                    .header__search-form {
                        width: 73%;
                    }
                    .choices {
                        width: 198px;
                    }
                    .choices__list {
                        flex-wrap: nowrap;
                    }
                }
            }
        }
    }
    .aside {
        margin-top: 58px;
        &__container {
            flex-wrap: wrap;
            align-items: start;
            flex-direction: column;
            gap: 16px;
            .aside__text {
                margin: 0;
            }
            .aside__choice {
                flex-wrap: wrap;
                flex: 2; 
                justify-content: start;
                row-gap: 16px;
                column-gap: 32px;
                .checkbox {
                    &__btn-1 {
                        z-index: 4;
                    }
                    &__list-1 {
                        z-index: 3;
                    }

                    &__btn-2 {
                        z-index: 2;
                    }
                    &__list-2 {
                        z-index: 1;
                    }
                }
                .radio {
                    &__btn {
                        z-index: 2;
                    }
                    &__list {
                        z-index: 1;
                    }
                }
                .range {
                    &__btn {
                        z-index: 4;
                    }
                    &__inputs {
                        z-index: 3;
                    }
                }
            }
        }
    }
    .catalog {
        .container {
            .catalog__title {
                top: -220px;
            }
            .grid {
                grid-template-columns: repeat(2, 1fr);
            }
            .catalog__grid-1 {
                .grid__item:nth-child(7) {
                    display: none;
                }
                .grid__item:nth-child(8) {
                    display: none;
                }
                .grid__item:nth-child(9) {
                    display: none;
                }
            }
            .catalog__grid-2 {
                .grid__item:nth-child(1) {
                    display: block;
                }
                .grid__item:nth-child(2) {
                    display: block;
                }
                .grid__item:nth-child(3) {
                    display: block;
                }
                .grid__item:nth-child(7) {
                    display: none;
                }
                .grid__item:nth-child(8) {
                    display: none;
                }
                .grid__item:nth-child(9) {
                    display: none;
                }
                .grid__item:nth-child(10) {
                    display: none;
                }
                .grid__item:nth-child(11) {
                    display: none;
                }
                .grid__item:nth-child(12) {
                    display: none;
                }
            }
            .catalog__btns {
                .catalog__btn:last-child {
                    display: block;
                }
            }
        }
    }
    .footer {
        &-top {
            .footer__container {
                padding-bottom: 22px;
                flex-direction: column;
                .footer__left {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 17px;
                    .footer__logo {
                        margin-top: 3px;
                        margin-bottom: 0px;
                    }
                }
                .nav {
                    display: flex;
                    gap: 39px;
                    &__list {
                        .nav__item:not(:last-child) {
                            margin-bottom: 10px;
                        }
                        .nav__item:first-child {
                            margin-bottom: 8px;
                         }     
                    }
                    &__list:nth-child(2) {
                        margin-right: 20px;
                    }
                }
            }
        }
    }
}