@import '_vars.scss';
@import '_mixin.scss';
@media (max-width: 970px) {

    .container {
        margin-right: 72px;
        margin-left: 72px;
    }

    .header {
        &-top {
            background-color: transparent;
            .header__container {
                flex-wrap: wrap;
                margin-left: 0;
                margin-right: 0;
                padding: 0;
                .header__wrap {
                    padding-left: 72px;
                    padding-right: 72px;
                    padding-top: 18px;
                    padding-bottom: 18px;
                    .nav {
                        width: 100%;
                        &__list {
                            gap: 0;
                        }
                    }
                    .header__links {
                        .header__link {
                            display: none; 
                        }
                    }
                }
                .header__select {
                    margin-left: 72px;
                }
                .header__number {
                    margin-right: 72px;
                }
            }
        }
        &-bottom {
            position: relative;
            .header__container {
                .header__wrap-top {
                    .header__links {
                        display: flex;
                        .header__link {
                            // display: block;
                        }
                    }
                    .nav {
                        margin-bottom: 0px;
                        display: flex;
                        visibility: hidden;
                        z-index: 100;
                        position: absolute;
                        width: 100%;
                        height: 300px;
                        top: 0;
                        left: 0;
                        background-color: $white;
                        border-top: 1px solid rgba($color: #000000, $alpha: 0.3);
                        padding: 92px 72px 58px 72px;
                        transform: translateX(-100%);
                        transition: visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
                        svg {
                            display: block;
                            position: absolute;
                            right: 72px;
                            bottom: 60px;
                        }
                        &__list-1 {
                            column-gap: 64px;
                            row-gap: 41px;
                            flex-direction: column;
                            flex-wrap: wrap;
                        }
                    }
                    .burger {
                        display: block;
                        margin-right: 75px;
                    }
                    .burger-menu--active {
                        visibility: visible;
                        transform: none;
                    }
                }
                .header__wrap-bottom {
                    .header__search-form {
                        width: 73%;
                    }
                    .choices {
                        width: 198px;
                    }
                    .choices__list {
                        flex-wrap: nowrap;
                    }
                }
            }
        }
    }
    .product {
        margin-bottom: 30px;
        &__container {
            display: block;
            .product__wrap {
                width: 100%;
                &-1 {
                    margin-bottom: 32px;
                    .product__img {
                        &-big {
                            margin-bottom: 29px;
                        }
                        &-small {
                            display: block;
                            padding: 25px 25px;
                            img {
                                display: block;
                                margin: 0 auto;
                                &:nth-child(1) {
                                    margin-bottom: 18px;
                                }
                                &:nth-child(2) {
                                    margin-bottom: 24px;
                                }
                                &:nth-child(3) {
                                    margin-bottom: 13px;
                                }
                            }
                        }
                    }
                    .product__wrap-small {
                        display: flex;
                        gap: 32px;
                        .product__buy {
                            margin-top: 52px;
                            display: block;
                        }
                    }
                    .product__desc {
                        max-width: 514px; 
                        margin-bottom: 23px;
                      }
                    .product__construct {
                        max-width: 514px; 
                    }
                }
                &-2 {
                    .product__buy {
                        display: none;
                    }
                    .spec {
                        &__list {
                            .item {
                                &__name {
                                    max-width: 409px;
                                }
                            }
                        }
                    }
                }
            }  
            .product__overlay-img {
                .overlay__container {
                    max-width: 624px;
                     margin: 199px auto;
                    .overlay__img {
                        &-big {
                            padding: 0 20px;
                            margin: 0 auto 45px auto;
                        }
                        &-small {
                            padding: 20px 79px 17px 79px;
                        }
                    }
                }
            }
        }
    }
    .footer {
        &-top {
            .footer__container {
                padding-bottom: 22px;
                flex-direction: column;
                .footer__left {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 17px;
                    .footer__logo {
                        margin-top: 3px;
                        margin-bottom: 0px;
                    }
                }
                .nav {
                    display: flex;
                    gap: 39px;
                    &__list {
                        .nav__item:not(:last-child) {
                            margin-bottom: 10px;
                        }
                        .nav__item:first-child {
                            margin-bottom: 8px;
                         }     
                    }
                    &__list:nth-child(2) {
                        margin-right: 20px;
                    }
                }
            }
        }
    }
}