$containerWidth1920: 1280px;
$containerWidth1024: 952px;
$gridGap: 32px;
$black: #333333;
$white: #FFFFFF;
$dark-white: #F7F7F7;
$grey: #999999;
$dark-grey: #666666;
$orange: #FF862F;
$light-orange: #FFBD59;
$bone: #FFF5D1;
$dark-orange: #BB370E;
$purple: #A65CF0;
$beige: #D5B986;
$footer-white: #EAEAEA;
$validate: #FF6972;
$validateS: #B8EC64;
$hover-bg: #EAEAEA;
$pink: #F8EFFF;
$focus-bg: #EBD1FF;
$active: #7033AC;
$hover: #C998FB;

